<app-hero></app-hero>
<div class="row featurette">

    <div  class="col-md-7">

      <h2 class ="featurette-heading">This is the blog.<span  class ="text-muted">Travelex.</span></h2>

      <p>We already checked those locations for you
</p>
<tr class="table-dark">
      <td>{{travels.$key}}</td>
      <td>{{travels.loccation}}</td>
      <td>{{travels.country}}</td>
      <td>rideid</td>
      <td>{{travels.currency}}</td>
      <td>{{travels.activities}}</td>
      <td>
      </td>
    </tr>
    </div>



    </div>